@(app: App, registrations: List[Registration], offset: Int, count: Int)(implicit flash: Flash)

@main("Android registrations for " + app.name) {

  <h2>Android registrations for @app.name</h2>
  @if(!registrations.isEmpty) {
    <table>
      <thead>
        <tr>
          <td>Registration ID</td>
          <td>Last registration time</td>
        </tr>
      </thead>
      <tbody>
        @for(t <- registrations.take(count)) {
          <tr>
            <td>@t.value.toUpperCase</td>
            <td>@t.lastRegistrationDate</td>
          </tr>
        }
      </tbody>
    </table>
    <p id="pagination">
      @if(offset > 0) {
        <a href="@routes.Registrations.index(app.key, List(offset - count, 0).max, count)" class="previous-page">&lt; Previous page</a>
      }
      @if(registrations.length > count) {
        <a href="@routes.Registrations.index(app.key, offset + count, count)">Next page &gt;</a>
      }
    </p>
  } else {
    <p>No registrations yet.</p>
  }

  <p>
    <a href="@routes.Apps.show(app.key)">Back to @app.name</a>
  </p>

}