@(app: Option[App], appForm: Form[Tuple5[String, Int, Boolean, Option[String], Option[String]]])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(fieldConstructorTemplate.f) }

@action = @{ app map{ a => routes.Apps.update(a.key) } getOrElse routes.Apps.create }
@submitLabel = @{ app map { a => "Update" } getOrElse "Create" }
@cancelRoute = @{ app map { a => routes.Apps.show(a.key) } getOrElse routes.Apps.index }

@form(action = action, 'enctype -> "multipart/form-data") {
  <dl id="new-app">
    @inputText(appForm("name"), '_label -> "Name")
    <dt><label for="app_icon">Icon</label></dt>
    <dd><input type="file" name="icon" id="app_icon"></dd>
    <fieldset>
      <legend>iOS</legend>
      <dt><label for="app_certificate">PKCS#12 certificate</label></dt>
      <dd><input type="file" name="certificate" id="app_certificate"></dd>
      @if(app.isDefined) {
        <dd><i>Leave empty to keep the existing certificate</i></dd>
      }
      @inputPassword(appForm("iosCertPassword"), '_label -> "Certificate password")
      @select(field = appForm("appMode"), options = options("0" -> "Development", "1" -> "Production"), '_label -> "Application mode")
      @checkbox(appForm("debugMode"), '_label -> "Debug mode")
    </fieldset>
    <fieldset>
      <legend>Android</legend>
      @inputText(appForm("gcmApiKey"), '_label -> "GCM API key")
    </fieldset>
    <dd><input type="submit" value="@submitLabel"> or <a href="@cancelRoute">Cancel</a></dd>
  </dl>
}